@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: black;
}

.container-buttons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

button {
  position: relative;
  background-color: #79cb15;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 160px;
  height: 90px ;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  
}

button:hover {
  color: rgb(255, 255, 255);
  transform: translateY(-3px) scale(1.03);
}

button:hover span {
  color: yellow;
   transition:
    transform 0.3s ease,
    color 0.3s ease;
}

button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: yellow;
  transition: width 0.5s ease;
}

button:hover::after {
  width: 99.5%;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;  
}

img {
  width: 100%;
}

p {
  color: #ffff;
}

li {
  border: 2px solid #5106c9;
  border-radius: 5px;
  padding: 5px;
}

.item-price {
  font-size: bold;
  color: #79cb15;
}